<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="info.nightscout.androidaps" />
        <package android:name="info.nightscout.aaps" />
        <package android:name="com.eveningoutpost.dexdrip" />
        <package android:name="com.eveningoutpost.dexdrip.debug" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".CopilotApp"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AAPSPredictiveCopilot">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AAPSPredictiveCopilot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.LocalNightscoutForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".receiver.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.LocalDataBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
                <action android:name="com.eveningoutpost.dexdrip.BgEstimateNoData" />
                <action android:name="com.eveningoutpost.dexdrip.NS_EMULATOR" />
                <action android:name="info.nightscout.client.NEW_SGV" />
                <action android:name="info.nightscout.client.NEW_TREATMENT" />
                <action android:name="io.aaps.copilot.BROADCAST_TEST_INGEST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
